.add-list-wrapper {
	align-items: center;
}

.add-list-wrapper > .add-button {
	background: #eee;
	border-radius: 0.3em;
	padding: 0.5em;
}

.add-button:hover {
	background: #ddd;
}

.add-form {
	margin-top: 0;
	width: 152px;
}