.dashboard {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-template-rows: auto auto auto auto auto auto;
	width: 100%;
}

.sidebar {
	grid-column: 1/3;
	grid-row: 2/4;
}

.myBaseHeader {
	grid-column: 1/16;
	grid-row: 2/3;
	text-align: center;
}

.myBases {
	grid-column: 3/16;
	grid-row: 3/4;
	display: flex;
	flex-wrap: wrap;
}

.foreignBaseHeader {
	grid-column: 1/16;
	grid-row: 4/5;
	text-align: center;
}

.foreignBases {
	grid-column: 3/16;
	grid-row: 5/6;
}

.myBaseHeader > h4,
.foreignBaseHeader > h4 {
	margin: 0;
}

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.dashboard {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.sidebar {
		height: auto;
		margin: 0.5em 0;
		width: 90%;
	}

	.sidebar > i {
		display: none;
	}

	.myBaseHeader {
		margin: 0.5em 0;
	}

	.myBases {
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.base {
		height: auto;
		width: 90%;
	}

	.foreignBaseHeader {
		margin: 0.5em 0;
	}

	.foreignBases {
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.toBeAcceptedBase > p {
		text-align: center;
	}

	.acceptedBasesList {
		justify-content: center;
		width: 100%;
	}

	.acceptedBasesList > .base {
		width: 90%;
	}
}
