.dashcontent {
	display: flex;
	padding: 1em 0 0 1em;
	flex-wrap: wrap;
}

.baseWrapper {
	display: flex;
	flex-wrap: wrap;
}

.base {
	background: #eee;
	border-radius: 0.3em;
	display: flex;
	flex-direction: column;
	height: 100px;
	margin: 0 0 1em 1em;
	padding: 0.5em;
	position: relative;
	width: 80px;
}

.base > i {
	position: absolute;
	right: 0.3em;
	opacity: 0.4;
}

.base > i:hover {
	opacity: 0.7;
}

.base > p {
	margin-bottom: 0;
}

.baseWrapper > li {
	height: 200px;
	width: 300px;
}

.add-list-wrapper {
	list-style-type: none;
}
