.dashcontent {
	display: flex;
	padding: 1em 0 0 1em;
	flex-wrap: wrap;
}

.baseWrapper {
	display: flex;
	flex-wrap: wrap;
}

.base {
	background: #eee;
	border-radius: 0.3em;
	display: flex;
	flex-direction: column;
	height: 100px;
	margin: 0 0 1em 1em;
	padding: 0.5em;
	width: 80px;
}

