.foreignBases {
	display: flex;
	flex-direction: column;
}

.foreignBases > ul > .base {
	height: 100px;
	width: 300px;
}

.acceptedBasesList {
	flex-wrap: wrap;
}

.toBeAcceptedBases {
	flex-direction: column;
}

.toBeAcceptedBase {
	list-style-type: none;
}

.accept {
	cursor: pointer;
	font-weight: 700;
	margin: 0 0.3em;
	text-decoration: underline;
}

.baseName {
	text-decoration: underline;
	margin-left: 0.3em;
}

.optOut {
	position: absolute;
	right: 10px;
	color: gray;
}

.optOut:hover {
	text-decoration: underline;
}
