.landingPage {
	margin-top: 2em;
	text-align: center;
	width: 648px;
}

.landingText {
	display: flex;
	flex-direction: column;
}

.logo > img {
	height: auto;
	width: 300px;
}

.controls {
	display: flex;
	justify-content: center;
}

.controls > .button {
	background-color: #eee;
	border: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 1px lightgray;
	margin: 0 1em;
	padding: 0.5em 2em;
}
