.landingPage {
	display: flex;
	margin: 5% auto 0 auto;
	text-align: center;
	width: 648px;
}

.landingText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-end;
}

.controls {
	display: flex;
	justify-content: center;
}

.controls > .button {
	background-color: #eee;
	border: 0;
	border-radius: 5px;
	box-shadow: .5px .5px 1px gray;
	margin: 0 1em;
	padding: .5em 2em;
}