.messagelist {
	background: lightgray;
	border-radius: 5px;
	grid-column: 3/9;
	grid-row: 2/3;
	min-width: 375px;
}

.messagelist > p {
	border-bottom: 1px solid #ff5c5c;
	padding: 0.5em;
	margin: 0;
}

.messagelist-ul {
	background: white;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	height: 250px;
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-bottom: 0.5em;
}

.messagelist-ul > li:first-child {
	margin-top: 1em;
}

.message-list-entry {
	list-style-type: none;
	margin: 2em 0;
	padding: 0 5em 0 0.75em;
	position: relative;
}

.message-list-entry > i {
	color: darkgray;
	position: absolute;
	right: 0.3em;
}

.message-list-entry > i:hover {
	color: darkslategray;
}

.form-input {
	width: 100%;
}

.userForm > .form-input > input[type="text"] {
	font-size: 0.9em;
	line-height: 1.5em;
	margin-bottom: 0;
	outline: none;
	margin: 0;
	padding: 0.3em 0.5em;
	width: 100%;
}

.userForm > input[type="submit"] {
	padding: 0.3em 0.5em;
	width: 30%;
}

.message-list-entry > hr {
	position: absolute;
	opacity: 0.3;
	width: 95%;
}

.date {
	color: darkgray;
	font-size: 0.7em;
	position: absolute;
	right: 2em;
}

.content {
	font-size: 0.9em;
}
