header {
	align-items: center;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: space-around;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
}

header > ul > li {
	background: none;
	border: 1px solid lightblue;
	list-style-type: none;
	margin-right: 1em;
	padding: 0.5em;
	text-decoration: none;
}

.logoWithoutText {
	height: 60px;
	padding: 1em;
	width: auto;
}

.logout {
	background: none;
	border: 1px solid lightblue;
	color: #145175;
	padding: 0.5em;
}
