.sidebar {
	background: #eaeaea;
	border-radius: 8px;
	height: 200px;
	margin: 1em 0 0 2em;
	padding: 1em;
	min-width: 200px;
}

.sidebar-ul {
	display: flex;
	flex-direction: column;
}

.sidebar-li {
	list-style-type: none;
	margin-bottom: 0.3em;
}
