.listChat {
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

aside {
	justify-content: center;
	margin-top: 3em;
	background: lightgray;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 250px;
}

.listChat > aside:first-child {
	margin-right: 2em;
}

aside > p {
	margin: 0.5em;
}

aside > form {
	width: 100%;
}

.userlist-ul {
	display: block;
	height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.messagelist-ul {
	flex-grow: 1;
	justify-content: flex-end;
}

.userlist-ul,
.messagelist-ul > li {
	list-style-type: none;
	padding: 0 0.75em;
}

.userlist-ul > li:first-child {
	padding-top: 0.5em;
}

.userlist-ul > li:last-child {
	padding-bottom: 0.5em;
}

.user-list-entry {
	box-sizing: content-box;
	height: 25px;
	align-items: center;
	display: flex;
}

.user-list-entry:hover {
	text-decoration: underline;
}

.user-list-entry > p {
	margin-right: auto;
}
